{% extends 'page/base.html' %}
{% load static %}

{% block page %}

<link rel="stylesheet" href="{% static 'post/search.css' %}">

<!-- Header -->

<div class="header row">
    {% include 'components/title.html' %}
    <div class="main-ctrl col-6">
    </div>
    {% include 'components/sub_nav.html' with user_status='login' only %}
</div>

<!-- Body -->

<div class="body-container flex-grow-1">
    <div class="normal-container d-flex justify-content-center">
        <div class="sub-container">
            {% include 'components/top_nav.html' with current='team' only %}
        </div>
        <div class="main-container">
            <div class="contents">
                <div id="detail_display">
                    <span id="team_name">チーム名：{{team.name}}</span>
                    <button id="display_to_update_btn">変更</button>
                </div>
                <div id='update_display' hidden>
                    {% comment %} {% url %} の方法しかできないのはなぜ {% endcomment %}
                    <form method="POST" action="{% url 'team:update' team_id=kwargs.team_id %}">
                        {% csrf_token %}
                        <input type="text" name="new_name" value="{{team.name}}" />
                        <button>更新</button>
                    </form>
                </div>
                <div id="delete_display">
                    <form method="POST" action="{% url 'team:delete' team_id=kwargs.team_id %}">
                        {% csrf_token %}
                        <button>削除</button>
                    </form>
                </div>
            </div>
            {% include 'components/function_nav_link.html' with type=props.body.bodyer.function_nav.type links=props.body.bodyer.function_nav.links kwargs=kwargs is_owner=is_owner %}
        </div>
    </div>
</div>

<script src="{% static 'ajax/init.js' %}"></script>
<script src="{% static 'ajax/team/detail.js' %}"></script>

{% endblock page %}